.education
  %h2 Education
  %ul
    - @education.each do |education|
      %li
        .duration #{education["duration"]}
        %span.circle
        %div
          %span.name #{education["name"]}
          %span.university #{education["university"]}
        %div  
          %span.description #{education["description"]}
          %span.place #{education["place"]}
      