%html
  %head
    %link(href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  %body
    - if @header
      .container
        = haml :header
      %hr.fancy
  
    - if @education
      .container
        = haml :education
      %hr.fancy    
      
      
    - if @skillset
      .container
        = haml :skillset
      %hr.fancy    

    - if @project
      = haml :project
      %hr.fancy
      
    - if @work_experience
      = haml :work_experience