.work-experience
  %h2 Working experience
  %ul
    - @work_experience.each do |member|
      %li
        %h3
          %span.company #{member['company']} 
          %span.space #{member['place']} 
        .desc
          .infos
            %p.role #{member['role']}
            %p.time #{member['date']}
          =member['description']
        %ul
          -member['skills'].each do |skill|
            %li{class:skill.css_class} #{skill}
      - if @work_experience.last != member
        %hr.dashed